body {
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #ffffff;
    font-family: "Pixelify Sans", Arial, sans-serif;
  }
  canvas {
    border: 4px solid rgb(26, 26, 26);
    
  }